@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Technologies Used</p>


    <a asp-controller="TechStack" asp-action="Docker">Docker</a>
    <a asp-controller="TechStack" asp-action="Jenkins">Jenkins</a>


</div>
