<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <h5>Learn about Docker....</h5>
    <p>Docker is an open-source containerization platform by which you can pack your
        application and all its dependencies into a standardized unit called a container.
        Containers are light in weight which makes them portable and they are isolated from
        the underlying infrastructure and from each other container. You can run the docker
        image as a docker container in any machine where docker is installed without
        depending on the operating system.</p>

</div>
