<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <h5>Learn about Jenkins....</h5>
    <p>
        Jenkins is an open-source solution comprising an automation server to enable
        continuous integration and continuous delivery (CI/CD), automating the various
        stages of software development such as build, test, and deployment.

        Jenkins is a Java-based open-source automation platform with plugins designed for
        continuous integration. It is used to continually create and test software projects,
        making it easier for developers and DevOps engineers to integrate changes to the
        project and for consumers to get a new build. It also enables you to release your
        software continuously by interacting with various testing and deployment methods.
    </p>

</div>
